
    body {
        background-image: url('Background.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    h1, h3, h4, h5, h6, hr {
        color:black;
        text-align: center;
        margin: 1%;
    }
    h2 {
        color: black;
        text-align: left;
        margin: 0%;
    }
    p {
        color:black;
        text-align: center;
        margin: 0%;
    }
    a:link {
        color: green;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: #6a60b0;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: #36c;
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
